<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trydisslow">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TryDisSlow">
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".addAssignment"
            android:exported="false" />
        <activity
            android:name=".addClass"
            android:exported="false" />
        <activity
            android:name=".addModule"
            android:exported="false" />
        <activity
            android:name=".Assignments"
            android:exported="false" />
        <activity
            android:name=".ModulesAndClasses"
            android:exported="false" />
        <activity
            android:name=".Assignment"
            android:exported="false" />
        <activity
            android:name=".Calendar"
            android:exported="false" />
        <activity
            android:name=".editModule"
            android:exported="false" />
        <activity
            android:name=".editClass"
            android:exported="false" />
        <activity
            android:name=".editAssignment"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>